    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1 {
        color: black;
    }
    
    h3 {
        color: white;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:visited {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        color: white;
        text-decoration: underline;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }
    
    .mainContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }